accelerate
transformers
safetensors
torchvision
uvicorn
aiofiles
altair
annotated-types
anyio
attrs
certifi
charset-normalizer
click
contourpy
cycler
diffusers @ git+https://github.com/huggingface/diffusers@08bf7545070764d41637e90290ca9b92b392263e
fastapi
ffmpy
filelock
fonttools
fsspec
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
mdurl
mpmath
numpy
orjson
packaging
pillow
psutil
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
requests
docker-compose
